.container {
    margin: 0;
}

.row {
    margin: 0;
}

.btn-green {
    background-color: #67b54b;
    color: #fff;
    font-size: 18px;
    margin-right: 0;
    width: 100%;
}

.title {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #025157;
    margin-bottom: 24px;
    letter-spacing: -3px;
    line-height: initial;
    text-align: center;
}

.lead {
    width: 100%;
    font-style: normal;
    line-height: 31px;
    font-size: 20px;
    color: #46484c;
    margin-bottom: 30px;
    text-align: center;
}

.trial {
    margin-top: 19px;
    margin-bottom: 24px;
    text-align: center;
}

.trial > img{
    margin-top: 30px;
}

.trial-text {
    font-size: 14px;
    color: rgba(139,139,139,.8);
    margin-bottom: 50px;
    text-align: center;
}

.container-brands {
    font-size: 13px;
    color: #4A4A44;
    text-align: center;   
    margin-top: 50px;
    font-family: 'IBM Plex Sans', sans-serif;
    margin-bottom: 120px;
}

.brands-row {
    width: 100%;
    margin: 0 auto;
    padding-top: 40px;
}

.brands-row .col {
    margin: 16px;
}

.card {
    border-style: none;
}

.card > img {
    box-shadow: 0 8px 24px rgba(0,0,0,.1);
}

.card-body {
    text-align: center;
}

.card-title {
    font-size: 20px;
    font-family: 'IBM Plex Sans',Arial,sans-serif;
    margin-bottom: 20px;
    margin-top: 24px;
    color: #343434;
}

.features-header {
    margin-top: 120px;
}

.features-header .container-title {
    font-family: 'Lucida Sans';
    font-size: 40px;
    color: #025157;
    text-align: center;
    font-weight: bold;
}

.features-header .container-subtitle {
    font-family: 'Lucida Sans';
    font-size: 18px;
    color: #4a4a4a;
    text-align: center;
    padding: 24px 0;
}

@media (min-width: 992px) { 
    .container {
        margin: 0 auto;
    }

    .btn-green {
        background-color: #67b54b;
        color: #fff;
        margin-right: 24px;
        width: auto;
    }

    .title {
        font-size: 68px;
        text-align: start;
    }

    .trial {
        text-align: start;
    }

    .trial > img{
        margin-top: 0;
    }

    .trial-text {
        text-align: start;
    }

    .lead {
        text-align: start;
    }
    
    .brands-row {
        width: 900px;
    }

    .brands-row .col {
        margin: 0;
    }
}

